[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "pkgbuilds/gitkraken"]
	path = pkgbuilds/gitkraken
    url = ssh+git://aur@aur.archlinux.org/gitkraken.git
    ignore = dirty
[submodule "pkgbuilds/cargo-bin"]
	path = pkgbuilds/cargo-bin
    url = ssh+git://aur@aur.archlinux.org/cargo-bin.git
    ignore = dirty
[submodule "pkgbuilds/intellij-idea-ue-eap"]
	path = pkgbuilds/intellij-idea-ue-eap
    url = https://aur.archlinux.org/intellij-idea-ue-eap.git
    ignore = dirty
[submodule "pkgbuilds/git-cola"]
	path = pkgbuilds/git-cola
	url = https://aur.archlinux.org/git-cola.git
    ignore = dirty
[submodule "pkgbuilds/qtile"]
	path = pkgbuilds/qtile
	url = https://aur.archlinux.org/qtile.git
    ignore = dirty
[submodule "pkgbuilds/docker-machine"]
	path = pkgbuilds/docker-machine
    url = https://aur.archlinux.org/docker-machine.git
    ignore = dirty
[submodule "pkgbuilds/webstorm-eap"]
	path = pkgbuilds/webstorm-eap
	url = https://aur.archlinux.org/webstorm-eap.git
    ignore = dirty
[submodule "pkgbuilds/pycharm-professional"]
	path = pkgbuilds/pycharm-professional
	url = https://aur.archlinux.org/pycharm-professional.git
    ignore = dirty
[submodule "pkgbuilds/leiningen"]
	path = pkgbuilds/leiningen
	url = https://aur.archlinux.org/leiningen.git
	ignore = dirty
[submodule "pkgbuilds/boot"]
	path = pkgbuilds/boot
	url = https://aur.archlinux.org/boot.git
	ignore = dirty
[submodule "pkgbuilds/avocode"]
	path = pkgbuilds/avocode
	url = ssh+git://aur@aur.archlinux.org/avocode.git
	ignore = dirty
