[user]
	name = Tim Kleinschmidt
	email = tim.kleinschmidt@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	diff = diff --color-words
	s-u = submodule update --init --recursive
	s-s = submodule status
	ls = ls-files
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	ll = log --stat --abbrev-commit
	score = shortlog -sn
[help]
        autocorrect = 1
[color]
	ui = auto
[color "branch"]
	current = red
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	pager = less -r
	editor = vim
	whitespace = space-before-tab, trailing-space
	excludesfile = /home/tim/.gitignore
[merge]
	conflictstyle = diff3
	tool = vimdiff
[rerere]
	enabled = 1
[pack]
	threads = 4
