[submodule "bin/powerline-bash"]
	path = bin/powerline-bash
	url = https://github.com/milkbikis/powerline-bash.git

[submodule ".vim/bundle/vundle"]
    path = .vim/bundle/vundle
    url = https://github.com/gmarik/vundle.git