---
name: Nix Lints

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Run statix
        run: nix run nixpkgs#statix -- check .

      - name: Run deadnix
        run: nix run nixpkgs#deadnix -- --fail .

      - name: Run shellcheck
        run: nix run nixpkgs#shellcheck -- $(find . -type f -name "*.sh")
